* {
    color: seashell;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.space {
    margin-left: 50px;
}

/* Navigation bar styles */
.nav {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid lightcoral;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
}

.button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: grey;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

/* Header styles */
.header {
    text-align: center;
    padding: 50px 20px;
    display: inline;
}

.logo {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: -1;
}

.info h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.info p {
    font-size: 18px;
    line-height: 1.5;
}




